@import "tailwindcss";

/* Hide scrollbar (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Leaflet custom pins */
.leaflet-container .custom-map-pin,
.leaflet-container .vehicle-map-pin {
  background: transparent !important;
  border: none !important;
}